.ShiftIndexItem {
    grid-column: 2/4;
    grid-row:1/5;
    margin: 6vh 10vh 6vh 10vh;

}

.ShiftIndexItem h1 {
    text-align: center;
    margin-bottom: 30px;
}

.ShiftIndexItem a {
    color: black;
    text-decoration: none;
  }

.index-card {
    padding: 30px 0 30px 0; 
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    border-top: 1px solid lightgrey;
}

.index-text {
    padding-left: 20px;
}

