.ShiftIndexItem {
    grid-column: 2/4;
    grid-row:1/5;
    margin: 6vh 10vh 6vh 10vh;
 
}

.ShiftIndexItem h3 {
    margin: 0;
}
.ShiftIndexItem h1 {
    margin-left: 3vh
}

.ShiftIndexItem a {
    color: black;
    text-decoration: none;
  }

.index-card {
    background-color: rgb(230, 229, 229);
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 80%;
    margin: 3vh;
    padding: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.index-text {
    padding-left: 20px;
}

.index-date {
    text-align: center;
    align-self: center;
}