.NavBar {
    display: flex;
    text-align: center;
    background-color: navajowhite;
    position: fixed;
    height: 100%;
    width: 15%
}

.NavBar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    width: 100%;
 
}

.NavBar li {
    height: 7vh;  
    padding-top: 2vh;
    /* padding-bottom: 2vh; */

    text-decoration: none;  
}

.NavBar li:hover {
    background-color: rgb(245, 225, 194);
    cursor:pointer
}


.NavBar h2 {
    padding-top: 4vh;
    padding-bottom: 8vh

}

