.AddShiftForm {
    grid-column: 2/5;
    grid-row:1/5;
    text-align: center;
    margin: 6vh 10vh 6vh 10vh;

}


.AddShiftForm input,  select{
    margin: 2vh 0 2vh 0;
    height: 3vh;
    width:60%;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    font-family: Georgia, serif;
    position: relative;
}

.AddShiftForm form {
    padding-top: 2vh;
}

