@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');



code {
  font-family: 'Source Sans Pro', sans-serif;
}
.page {
    display: grid;
    grid-template-columns: 0.6fr 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    width: 100vw;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;

}

li {
  list-style-type: none;

}

