body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.page {
    display: grid;
    grid-template-columns: 0.6fr 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    width: 100vw;
    height: 100vh;
    font-family: Georgia, serif;

}

li {
  list-style-type: none;

}

